h1 {
	color: black;
	text-align: center;
	font-size: 40px;
	padding: 0.01em 10px;
}

.panictext {
	color: red;
	text-align: center;
	font-size:40px;
	padding: 0.01em 10px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  width: 30%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button1 {
  background-color: red; 
  color: black; 
  border: 2px solid #f44336;
}

.button1:hover {
  background-color: indianred;
  color: black;
}

* {
  box-sizing: border-box;
}

.smallsection {
  flex: 5;
  border: 2px solid black;
  background-color: grey;
  margin-bottom: 2px;
}

.leftsection {
  float: left;
  width: 49%
}

.rightsection {
  float: right;
  width: 49%;
}

.center {
  text-align: center;
  border: 3px solid green;
}
}