<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <head>
  	<title>FIT3140 PANIC</title>
  </head>
  <header> 
  <h1><b>FIT3140 Emergency Response Team</b></h1>
  </header>
  <body>
  	<section>
  		<section class="smallsection leftsection">
  			<h1>1</h1>
  		</section>
  		<section class="smallsection rightsection">
  			<h1>2</h1>
  		</section>
  	</section>
  		<section>
  		<section class="smallsection leftsection">
  			<h1>3</h1>
  		</section>
  		<section class="smallsection rightsection">
  			<h1>4</h1>
  		</section>
  	</section>
	<button id="activateButton" onclick="activateAlarm()" class="button button1">Activate Alarm</button>
  	<p class="panictext" id="alarm"><b></b></p>
  </body>
</html>
